@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

h2 {
  font-family: "Rubik", sans-serif;
  color: #023047;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}
.chart-container {
  width: 200px;
}

.programming-stats {
  display: flex;
  font-family: "Rubik", sans-serif;
  align-items: center;
  gap: 24px;
  margin-inline: auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 35px;
  color: #023047;
  transition: all 400ms ease;
}

.programming-stats:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}
.programming-stats .detailts ul {
  list-style: none;
  padding: 0;
}
.programming-stats .detailts ul li {
  font-size: 16px;
  margin: 12px 0;
  text-transform: uppercase;
}
.programming-stats .detailts .pencentage {
  font-weight: 700;
  color: #e63946;
}
